.header {
  margin: 0px;
  padding-top: 0;
  background-color: rgb(97, 245, 225);
  min-height: 60px;
  display: flex;
  flex-direction: row;
  z-index: 100;
  resize: horizontal;
  overflow: auto;
}
.left-section {
  display: flex;
  align-items: center;
  min-width: 200px;
}
.logo {
  color: darkgreen;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 18px;
  margin-right: 0;
}
.middle-section {
  resize: none;
  overflow-x: auto;
  min-width: 100px;
  position: revert;
  position: relative;
  flex: 2;
}
.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  margin-right: 20px;
  margin-left: 14px;
  flex-shrink: 0;
}
.right-sec-icons {
  width: 48px;
  height: 48px;
}
.right-sec-icons-pal {
  width: 60px;
  height: 60px;
}
