body {
  font-family: "Lato", sans-serif;
  background-color: rgb(99, 208, 212);
  margin: 0;
  padding: 0;
  height: 3000px;
}
.main-part {
  position: static;
}

.login-block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  height: 110px;
  width: 180px;
  right: 15px;
  top: 70px;
  border-style: dashed;
  border-color: rgb(104, 104, 104);
  border-width: 2px;
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  box-sizing: border-box;
}

.login-container {
  grid-template-rows: 50px 50px;
  display: grid;
}

.log-button {
  background-color: rgb(189, 189, 189);
  margin-top: 10px;
  border-radius: 6px;
  height: 24px;
  width: 64px;
}

.reg-button {
  background-color: rgb(189, 189, 189);
  margin-top: 0;
  border-radius: 6px;
  height: 24px;
  width: 64px;
  margin-top: 10px;
}

.log-button:hover,
.reg-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.log-button:active,
.reg-button:active {
  background-color: slategray;
  opacity: 0.5;
}

.log-popup {
  display: none;
  position: absolute;
  right: -5px;
  top: -5px;
  border: 2px dashed rgb(117, 116, 116);
  z-index: 99;
}

.reg-popup {
  display: none;
  position: absolute;
  right: -5px;
  top: -5px;
  border: 2px dashed rgb(117, 116, 116);
  z-index: 99;
}

.form-container {
  padding: 10px;
  max-width: 300px;
  background-color: white;
}

.log-popup input[type="text"],
.reg-popup input[type="text"],
.log-popup input[type="password"],
.reg-popup input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0px 22px 0px;
  border: none;
  background: white;
}

.log-popup input[type="text"]:focus,
.reg-popup input[type="text"]:focus,
.log-popup input[type="password"]:focus,
.reg-popup input[type="password"]:focus {
  width: 100%;
  padding: 15px;
  margin: 5px 0px 22px 0px;
  border: none;
  background: white;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0px 22px 0px;
  border: none;
  background: white;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .button {
  background-color: rgb(32, 146, 32);
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .button:hover {
  opacity: 1;
}

.tooltip {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  color: rgb(6, 67, 6);
}
.cross-button {
  background-color: none;
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 98;
}

.show-button {
  background-color: rgb(189, 189, 189);
  position: absolute;
  top: 115px;
  right: 60px;
  z-index: 100;
  color: black;
  border-radius: 4px;
  visibility: hidden;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  box-sizing: border-box;
}

.show-button:hover,
.cross-button:hover {
  box-shadow: 2px 2px 1px lightblue;
}

.show-button:active,
.cross-button:active {
  box-shadow: 2px 2px 1px steelblue;
}

.central-container {
  margin-top: 100px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 30%;
  margin-right: 30%;
}
.window-timer {
  background-color: rgb(219, 219, 219);
  height: 200px;
  width: 300px;
  border-radius: 30px;
  border-color: rgb(6, 67, 6);
  border-style: dashed;
  border-width: 2px;
  display: grid;
  grid-template-rows: 24px 40px 74px;
  grid-template-columns: 1fr;
  row-gap: 20px;
  text-align: center;
}
.create-new {
  background-color: rgb(219, 219, 219);
  height: 200px;
  width: 300px;
  border-radius: 30px;
  border-color: rgb(6, 67, 6);
  border-style: dashed;
  border-width: 2px;
  text-align: center;
  line-height: 200px;
}

.add-icon {
  background-color: rgb(219, 219, 219);
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: 70px;
}
.title,
.timer,
.description {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.title-bar,
.timer-bar,
.timer-description {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  height: 90%;
  width: 75%;
  margin-top: 10px;
  border-radius: 10px;
  border-width: 1px;
  padding-left: 10px;
}
.title-div,
.timer-div,
.description-div {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  padding-left: 10px;
  text-align: left;
  align-items: center;
  height: 90%;
  width: 80%;
  background-color: white;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  box-sizing: border-box;
}
.title-div:empty:before,
.timer-div:empty:before,
.description-div:empty:before {
  content: attr(data-placeholder);
  color: rgb(90, 90, 90);
  border-color: black;
}
.title-div {
  height: 25.6px;
}
.timer-div {
  height: 40px;
}
.description-div {
  height: 70px;
}
